body {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo{
    margin-top: 10px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;

    color: #6379F4;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.profile {
    width: 52px;
    height: 52px;

    margin: 0px 20px 0px 20px;
}

.name {
    margin: 0px;

    width: 138px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;

    text-align: center;

    color: #3A3D42;
}

.phone {
    margin: 0px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    color: rgba(58, 61, 66, 0.9);
}

.bell {
    width: max-content;
    height: max-content;

    margin: 15px 0px 0px 33px;
}

.col-lg-3 {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.span {
    position: absolute;
    margin: 335px 0px 0px -15px;
    height: 35px;
}

.box-sidebar {
    display: flex;
    flex-direction: column;

    margin: 49px 0px 0px 0px 
}

.sidebar1 {
    display: flex;
    flex-direction: row;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: rgba(58, 61, 66, 0.8);
}

.sidebar1 img {
    width: 28px;
    height: 28px;

    margin-right: 23.5px;
}

.sidebar2 {
    display: flex;
    flex-direction: row;

    margin-top: 49px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: rgba(58, 61, 66, 0.8);
}

.sidebar2 img {
    width: 28px;
    height: 28px;

    margin-right: 23.5px;
}

.sidebar3 {
    display: flex;
    flex-direction: row;

    margin-top: 49px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: rgba(58, 61, 66, 0.8);
}

.sidebar3 img {
    width: 28px;
    height: 28px;

    margin-right: 23.5px;
}

.sidebar4 {
    display: flex;
    flex-direction: row;

    margin-top: 49px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: #6379F4;
}

.sidebar4 img {
    width: 28px;
    height: 28px;

    margin-right: 23.5px;
}

.sidebar5 {
    display: flex;
    flex-direction: row;

    margin-top: 121px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: rgba(58, 61, 66, 0.8);
}

.sidebar5 img {
    width: 28px;
    height: 28px;

    margin-right: 23.5px;
}
.col-lg-8 {
    width: max-content;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #3A3D42;
}

.describe {
    width: 342px;
    height: 84px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: #7A7886;
}

label {
    position: relative;
    top: 13px;
    left: 65px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #3A3D42;
}

.input1 {    
    outline: 0;
    border-width: 0 0 2px;
    width: 433px;
    height: 50px;
    border-color: rgba(169, 169, 169, 0.6);
    background-image: url("phone.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 75px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    color: rgba(169, 169, 169, 0.8);
}
    
.input1:valid {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;

    color: #3A3D42;
    border-color: #6379F4;
    background-image: url("phone1.png");
}

.input1:invalid {
    border-color: rgba(169, 169, 169, 0.6);
    background-image: url("phone.png");
}

.button {
    width: 433px;
    height: 57px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    border: none;
    border-radius: 12px;

    color: #88888F;
    background: #DADADA;
}

.button:hover {
    color: #FFFFFF;
    background: #6379F4;
}

.button:focus {
    outline: none;
    color: #FFFFFF;
    background: #6379F4;
}

div.footer {
    background: #6379F4;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.copyright {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: rgba(239, 239, 239, 0.9);
}

.phone2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    color: #EFEFEF;
}

.contact {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    color: #EFEFEF;
}